# Identifier les marques de PC proposant le plus de rabais

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
from urllib.request import Request, urlopen
import numpy as np

In [3]:
def get_soup_from_link(link) :
    hdr = {'User-Agent': 'Mozilla/5.0'}
    req = Request(link, headers=hdr)
    page = urlopen(req)
    soup = BeautifulSoup(page, 'html.parser')
    return soup

In [97]:
all_price = []
all_name = []
main_url = "https://www.darty.com/nav/achat/informatique/ordinateur_portable/portable/"

for page in ['index'] + [y for x in [np.arange(2,10).tolist()] for y in x] :
    
    if page != 'index' :
        url = main_url + "page" + str(page) + ".html"
    else :
        url = main_url + str(page) + ".html"
        
    soup = get_soup_from_link(url)
    
    products = soup.findAll('div', class_='product_detail next_prev_info ')
    all_name = all_name + list(map(lambda i: i.find('div', class_ = 'prd-name').find('a', class_ = 'next_prev').text, products))
    all_price = all_price + list(map(lambda i: i.find('p' , class_="darty_prix_barre_remise darty_small separator_top"), products))
    
res = {'Brand' : list(map(lambda x : x[:x.index(' ')], all_name)), 'Discount Rate' : list(map(lambda x : float(0) if x==None else float(x.text[2:-1]), all_price))}
df = pd.DataFrame(res)

In [101]:
df.groupby(['Brand'], as_index=False).mean().sort_values(['Discount Rate'], ascending = False)

       Brand  Discount Rate
6  Ordissimo      21.000000
4  Microsoft      12.142857
5        Msi      10.800000
1       Asus       9.880597
0       Acer       9.382353
3     Lenovo       9.375000
2         Hp       5.478873
7    Packard       0.000000
8    Thomson       0.000000