## Renault Zoé sur le marché de l'occasion

L'objectif est de générer un fichier de données sur le prix des Renault Zoé sur le marché de l'occasion en Ile de France, PACA et Aquitaine. 
Vous utiliserez leboncoin.fr comme source. Si leboncoin ne fonctionne plus vous pouvez vous rabattre sur d'autres sites d'annonces comme lacentrale, paruvendu, autoplus,... Le fichier doit être propre et contenir les infos suivantes : version ( il y en a 3), année, kilométrage, prix, téléphone du propriétaire, est ce que la voiture est vendue par un professionnel ou un particulier.
Vous ajouterez une colonne sur le prix de l'Argus du modèle que vous récupérez sur ce site http://www.lacentrale.fr/cote-voitures-renault-zoe--2013-.html.

Les données quanti (prix, km notamment) devront être manipulables (pas de string, pas d'unité).
Vous ajouterez une colonne si la voiture est plus chere ou moins chere que sa cote moyenne.﻿

In [78]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np
from selenium import webdriver
import math

In [3]:
def get_soup_from_link(link):
    hdr = {"Accept-Language": "en-US,en;q=0.5",
           "User-Agent": 'Mozilla/5.0',
           "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8",
           "Referer": "http://thewebsite.com",
           "Connection": "keep-alive"}
    req = requests.get(link, headers=hdr)
    soup = BeautifulSoup(req.content, 'html.parser')
    return soup

In [63]:
def get_info_from_link(link):
    soup = get_soup_from_link(link)
    title = soup.find('h1', class_='_1KQme').text
    version = get_version_from_title(title)
    sub = soup.findAll('div', class_='_3Jxf3')
    annee = int(sub[2].text.replace(" ", ""))
    km = sub[3].text.replace(" ", "")[:-2]
    prix = soup.find('span', class_='_1F5u3').text.replace(" ", "")[:-1]
    pro = soup.findAll('div', {'data-qa-id':'storebox_container'}) is not None
    return [version, annee, km, prix, pro]

In [86]:
def get_phone_from_link_list(link_list):
    liste = []
    driver = webdriver.Firefox()
    for links in link_list:
        driver.get(links)
        element = driver.find_element_by_css_selector('._2sPVF')
        element.click()
        page = driver.page_source
        soup = BeautifulSoup(page, 'html.parser')
        liste = liste + [soup.find('a', class_ = '_2sNbI ObuDQ GXQkc _2BP2c').text]
    driver.quit()
    return liste

In [6]:
def get_list_of_urls_from_region(region, npage):
    liste = []
    for page in range(1, npage) :
        soup = get_soup_from_link(search_url.format(region, str(page)))
        all_a = soup.find('div', class_ = 'react-tabs__tab-panel react-tabs__tab-panel--selected').findAll('a')
        liste = liste + list(map(lambda x : x.get('href'), all_a))
    return liste

In [14]:
def get_version_from_title(title) :
    founds = [word for word in title.lower().split() if word in modeles]
    return founds[0] if len(founds) == 1 else np.nan

In [8]:
def get_cotes() :
    title = []
    annee = []
    prix = []
    
    for year in range(2012, 2018) :
        lcurl = curl.format("cote-voitures-renault-zoe--{}-.html").format(str(year))
        listing = get_soup_from_link(lcurl).findAll('div', class_ = "listingResultLine")
        liste_cote = list(map(lambda x : x.find('a').get('href'), listing))
        for item in liste_cote :
            soup = get_soup_from_link(curl.format(item))
            title = title +  [soup.find('span', class_ = 'sizeC clear txtGrey7C sizeC').text]
            annee = annee + [year]
            prix_attr = soup.find('span', class_ = "jsRefinedQuot")
            prix = prix + [prix_attr.text if prix_attr is not None else None]
    df = pd.DataFrame({'title' : title, 'annee' : annee, 'prix' : prix})
    return df

In [46]:
modeles = ['life', 'zen', 'intens', 'edition one']

main_url = "https://www.leboncoin.fr{}"
search_url = "https://www.leboncoin.fr/recherche/?category=2&text=renault%20zoe&regions={}&page={}"

curl = "https://www.lacentrale.fr/{}"

In [64]:
result = pd.DataFrame(columns=['version', 'annee', 'km', 'prix', 'pro'])
liste_idf = list(map(lambda x : main_url.format(x), get_list_of_urls_from_region('12', 5)))

for link in liste_idf :
    value = pd.Series(get_info_from_link(link), index=['version', 'annee', 'km', 'prix', 'pro'])
    result = result.append(value, ignore_index=True)
result = result.dropna()
result[["annee", "km", "prix"]] = result[["annee", "km", "prix"]].astype(int)

In [89]:
phones = get_phone_from_link_list([liste_idf[0]])

In [90]:
phones

['01 86 65 50 16']

In [79]:
df = get_cotes()
df["version"] = df["title"].apply(get_version_from_title).astype(str)
df["cote"] = df["prix"].apply(lambda x : int(x.replace(" ", "")))
df = df.dropna()
cotes = df.groupby(["version", "annee"], as_index=False).mean()
cotes['cote'] = cotes['cote'].apply(lambda x : math.floor(x))

In [85]:
final = pd.merge(result, cotes, how='inner', on=["version", "annee"])
final["IsLessThanCote"] = final.prix < final.cote
final

    version  annee     km   prix   pro   cote  IsLessThanCote
0    intens   2017   7828  13990  True  15116            True
1    intens   2017    100  15490  True  15116           False
2    intens   2017   3500  19000  True  15116           False
3    intens   2015  26578   9990  True  11819            True
4    intens   2015  37535   9990  True  11819            True
5    intens   2015  71609   8290  True  11819            True
6    intens   2015  28240   9800  True  11819            True
7    intens   2015  25047  11490  True  11819            True
8    intens   2015  28755   9990  True  11819            True
9    intens   2015  28755   9990  True  11819            True
10   intens   2015  23128   9300  True  11819            True
11   intens   2015  22000   9900  True  11819            True
12   intens   2015   5000  11000  True  11819            True
13   intens   2015   8366  10200  True  11819            True
14   intens   2015  40143   9300  True  11819            True
15      zen   2013  31200   8900  True   8963            True
16      zen   2015   9782   6990  True  11703            True
17      zen   2015  46363   7190  True  11703            True
18      zen   2015  12063  10100  True  11703            True
19      zen   2015  26333   9490  True  11703            True
20      zen   2015  20500   9300  True  11703            True
21      zen   2015  33574   9100  True  11703            True
22      zen   2015  32804   9100  True  11703            True
23      zen   2015  39477   9100  True  11703            True
24      zen   2015  33579   8800  True  11703            True
25      zen   2015  15277   9700  True  11703            True
26      zen   2015  18422   9700  True  11703            True
27      zen   2015  43629   8250  True  11703            True
28      zen   2015  23678   9400  True  11703            True
29      zen   2015  22945   9400  True  11703            True
..      ...    ...    ...    ...   ...    ...             ...
96   intens   2014  35251   8900  True  10254            True
97   intens   2014  59257   9480  True  10254            True
98   intens   2014  37120  10480  True  10254           False
99   intens   2014  36190   8490  True  10254            True
100  intens   2014  36190   8490  True  10254            True
101  intens   2014  35034   9900  True  10254            True
102  intens   2014  37200   9480  True  10254            True
103  intens   2014  23119   9600  True  10254            True
104  intens   2014  32233   9100  True  10254            True
105     zen   2016   6787  11740  True  12803            True
106     zen   2016  18200   9990  True  12803            True
107     zen   2016  18680  10700  True  12803            True
108  intens   2016  12541  10490  True  13378            True
109  intens   2016  20152  11880  True  13378            True
110  intens   2016  17638  11700  True  13378            True
111  intens   2016   6521  11900  True  13378            True
112    life   2016  27000   9400  True  12432            True
113    life   2016  16621   9970  True  12432            True
114    life   2016  28851   9800  True  12432            True
115    life   2016   5100   9900  True  12432            True
116     zen   2017  18754  15900  True  14558           False
117     zen   2017   8024  12750  True  14558            True
118    life   2017   8376  13990  True  13684           False
119    life   2017   8376  13990  True  13684           False
120    life   2017    100  11990  True  13684            True
121    life   2017  13499  12980  True  13684            True
122    life   2017    500  11990  True  13684            True
123    life   2017    100  11990  True  13684            True
124    life   2013  76163   6990  True   8938            True
125  intens   2013  17308   9880  True   9496           False

[126 rows x 7 columns]